// Gutenberg text color options

.has-black-color[class] {
    // Localize CSS-variables to limit relationship scope
    > [class*='__inner-container'] {
        --local--color-primary: var(--global--color-black, #000000);
        color: var(--local--color-primary);
    }
    color: var(--global--color-black);
}

.has-gray-color[class] {
    // Localize CSS-variables to limit relationship scope
    > [class*='__inner-container'] {
        --local--color-primary: var(--global--color-gray, #000000);
        color: var(--local--color-primary);
    }
    color: var(--global--color-gray);
}

.has-dark-gray-color[class] {
    // Localize CSS-variables to limit relationship scope
    > [class*='__inner-container'] {
        --local--color-primary: var(--global--color-dark-gray, #000000);
        color: var(--local--color-primary);
    }
    color: var(--global--color-dark-gray);
}

.has-white-color[class] {
    // Localize CSS-variables to limit relationship scope
    > [class*='__inner-container'] {
        --local--color-primary: var(--global--color-white, #ffffff);
        color: var(--local--color-primary);
    }
    color: var(--global--color-white);
}

// Gutenberg background-color options
.has-background {
    a,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: currentColor;
    }
}

.has-black-background-color[class] {
    // Localize CSS-variables to limit relationship scope
    > [class*='__inner-container'] {
        --local--color-background: var(--global--color-black, #000000);
        background-color: var(--local--color-background);
    }
    background-color: var(--global--color-black);
}

.has-dark-gray-background-color[class] {
    // Localize CSS-variables to limit relationship scope
    > [class*='__inner-container'] {
        --local--color-background: var(--global--color-dark-gray, #000000);
        background-color: var(--local--color-background);
    }
    background-color: var(--global--color-dark-gray);
}

.has-gray-background-color[class] {
    // Localize CSS-variables to limit relationship scope
    > [class*='__inner-container'] {
        --local--color-background: var(--global--color-gray, #000000);
        background-color: var(--local--color-background);
    }
    background-color: var(--global--color-gray);
}

.has-light-gray-background-color[class] {
    // Localize CSS-variables to limit relationship scope
    > [class*='__inner-container'] {
        --local--color-background: var(--global--color-light-gray, #ffffff);
        background-color: var(--local--color-background);
    }
    background-color: var(--global--color-light-gray);
}

.has-white-background-color[class] {
    // Localize CSS-variables to limit relationship scope
    > [class*='__inner-container'] {
        --local--color-background: var(--global--color-white, #ffffff);
        background-color: var(--local--color-background);
    }
    background-color: var(--global--color-white);
}

.has-background:not(.has-text-color) {
    &.has-black-background-color[class],
    &.has-gray-background-color[class],
    &.has-dark-gray-background-color[class] {
        color: var(--global--color-white);

        // Localize CSS-variables to limit relationship scope
        > [class*='__inner-container'] {
            --local--color-primary: var(--global--color-background, #ffffff);
            // Reverse the local foreground color in darkmode
            .is-dark-theme & {
                --local--color-primary: var(--global--color-primary, #000000);
            }
            color: var(--local--color-primary, var(--global--color-primary));
        }
    }

    &.has-white-background-color[class] {
        color: var(--global--color-dark-gray);

        // Localize CSS-variables to limit relationship scope
        > [class*='__inner-container'] {
            --local--color-primary: var(--global--color-primary, #000000);
            // Reverse the local foreground color in darkmode
            .is-dark-theme & {
                --local--color-primary: var(--global--color-background, #ffffff);
            }
            color: var(--local--color-primary, var(--global--color-primary));
        }
    }
}

// Custom gradients
// .has-purple-to-yellow-gradient-background {
//     background: linear-gradient(160deg, var(--global--color-purple), var(--global--color-yellow));
// }
