// Footer
.site-footer {
    background-color: #23242c;
    max-width: 100 !important;
    padding-top: 140px;
    padding-bottom: calc(1.7 * var(--global--spacing-vertical));

    // Increase the top vertical spacing when there is no widget area.
    .no-widgets & {
        margin-top: calc(6 * var(--global--spacing-vertical));
    }

    @include media(mobile-only) {
        padding-top: 77px;
        .no-widgets & {
            margin-top: calc(3 * var(--global--spacing-vertical));
        }
    }
}
