@import '../01-settings/typography.scss';

.widget-area {
    @extend %responsive-alignwide-width;

    .wp-block-columns {
        flex-wrap: nowrap !important;
    }

    &__content {
        figure.wp-block-image,
        p:first-of-type {
            display: flex;
            position: relative;
            margin-top: 0 !important;
            margin-bottom: 32px;
            max-width: 303px;
            text-align: left;
            color: var(--global--color-white);
            @extend .font-variation-v2;
        }

        &--site-info {
            margin-top: 122px;
            opacity: 0.5;
            color: var(--global--color-white);
            @extend .font-variation-v1;
        }
    }

    &__links {
        display: flex;
        justify-content: flex-end;
        gap: 40px;

        .wp-block-group {
            max-width: 206px;
            width: 100%;
            &:last-of-type {
                max-width: 170px;
                width: 100%;
            }
        }

        .wp-block-heading {
            position: relative;
            margin-bottom: 0;
            color: var(--global--color-very-light-gray);

            @extend .font-variation-v3;
        }
    }

    @include media(mobile-only) {
        .wp-block-columns {
            flex-direction: column;
        }

        &__content {
            figure.wp-block-image {
                margin-left: 16px;
            }
            &--site-info {
                margin-top: 0;
                max-width: 241px;
            }
        }

        &__links {
            justify-content: flex-start;
            flex-wrap: wrap;

            .wp-block-group {
                margin-left: 16px;
            }
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 0 !important;

        li {
            margin-top: 13px;
            color: var(--global--color-white);
            @extend .font-variation-v1;
        }
    }

    a {
        color: var(--global--color-white);
        @extend .font-variation-v1;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
